DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_GUILD_ID=

DATABASE_URL=

# For Railway/Production: set this to https://embobby-production.up.railway.app/auth/callback
# For local dev: set this to http://localhost:3000/auth/callback
DISCORD_OAUTH2_REDIRECT=http://localhost:3000/auth/callback
